/target/
/test-output/
/log/
/Screenshots/
/bin/
/ssh/
/downloads/
debug.log
/allure-results/
/src/test/resources/environment/staging/*.json
/src/test/resources/environment/development/*.json
/src/test/resources/environment/qa/*.json
/src/test/resources/environment/prod/*.json
/src/test/resources/environment/staging/*-attachment
/src/test/resources/environment/qa/*-attachment
/src/test/resources/environment/prod/*-attachment
/.idea
/Configuration

